@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
* a{
    text-decoration: none;
    font-size: 20px;
    color: black;
}
.nav-center{
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0px 2px 9px rgb(78, 78, 78);
    height: 50px;
    background-color: white;
}
.nav-center h4{
    font-size: 20px;
    letter-spacing: 5px;
    color: #49A6E9;
}
.nav-links{
    display: flex;
    list-style-type: none;
}
.nav-links li{
    padding-left: 15px;
}
.nav-links a{
    transition: 0.1s;
}
.nav-links a:hover{
    color: #49A6E9;
}
main{
    width: 100vw;
    height: 90vh;
    position: relative;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}
.container h2{
    font-size: 40px;
    color: white;
    background-color: #222222;
    padding: 10px 25px;
    border-radius: 10px;
}
.color{
    color: #49A6E9;
}
.btn-hero{
    font-size: 15px;
    margin-top: 20px;
    padding: 12px 17px;
    letter-spacing: 4px;
    background-color: transparent;
    border: 2px solid black;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
    transition: 0.3s;
}
.btn-hero:hover{
    background-color: #222222;
    color: white;
}